#container{
    display: flex;
    flex-direction: column;
    width: 30%;
    aspect-ratio: 1/1.5;
    justify-content:space-between;
    margin: auto;
    border: black 2px solid;
    margin-top: 5vh;
    min-width: 200px;
}

#keypad{
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    gap: 1vh;
    flex-wrap: wrap;
}
#display{
    flex: .25;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    border: 2px solid gray;
    text-align: right;
}
.display-line{
    flex: 1;
    margin: 1vh
}
#current{
    font-size: large;
    font-weight: 400;
}
.row{
    flex:1; 
    display: flex;
    justify-content: space-between;
    gap: 1vh;
}
.key{
    flex:1;
    font-size: large;
    font-weight: bold;
}

#btn-clear{
    flex: 2.5;
}
